body  {
    background-image: url("https://www.satsig.net/world105.gif");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-size: cover;
    position: fixed;
  }
  
  h2{
    font-weight: bold;
  }
  #pad{
    padding:10px
  }